.announcment-bar {
	background-color: var(--turqoise);
	text-align: center;
	padding-block: 10px;
	min-height: 35px;
}

.announcment-bar .announcment__entry {
	font-size: 12px;
	letter-spacing: 1px;
}

@media(max-width: 768px) {
	.announcment-bar .announcment__entry {
		font-size: 16px;
	}
}