.section-blog {
	padding-block: 50px;
}

.section-blog .section__title {
	font-family: var(--assistant);
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
}

.section-blog .section__post-title {
	line-height: 1.3;
	font-size: 24px;
	padding: 10px 10px 8px 10px;
}

.section-blog .section__post-entry {
	font-size: 16px;
	padding: 8px 15px 10px 15px;
}

.section-blog .section__posts {
	display: flex;
	margin: 0 -20px;
	flex-wrap: wrap;
}

.section-blog .section__post {
	width: 33.333%;
	padding: 0 20px;
}

.section-blog .section__post-image img {
	aspect-ratio: 360/289;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

@media(max-width:768px) {
	.section-blog {
		padding-block: 30px;
	}

	.section-blog .section__title {
		margin-bottom: 15px;
	}

	.section-blog .section__posts {
		flex-direction: column;
	}

	.section-blog .section__post {
		width: 100%;
		padding-block: 25px;
	}

	.section-blog .section__post-title {
		font-size: 24px;
	}

	.section-blog .section__post-entry {
		font-size: 18px;
	}
}